<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/contact.css">
    <title>Contact Us</title>
  </head>
  <body>
    <!--PreLoader-->
      <div class="loader">
          <div class="loader-inner">
              <div class="circle"></div>
          </div>
      </div>
      <!--PreLoader Ends-->
    <div class="header">
    <center><h1 style="color:#FF4301;font-family: 'Bungee', cursive;margin-top:75px;">CONTACT US</h1>
    <hr style="color:#FF4301;height:2.5px;width:50%; margin-bottom:0;"></center>

    <div class="container-fluid">
        <center>
        <div class="male d-flex justify-content-center justify-content-evenly  mt-4">
            <div class="card p-0">
                <div class="card-image"> <img src="https://cdn1.iconfinder.com/data/icons/avatars-55/100/avatar_profile_user_music_headphones_shirt_cool-512.png" alt=""> </div>
                <div class="card-content d-flex flex-column align-items-center">
                    <h4 class="pt-2" style="color:#FF4301;">DHARUN</h4>
                    <h5 style="color:#111;">UI Desinger</h5>
                    <ul class="social-icons d-flex justify-content-center">
                        <li style="--i:1"> <a href="#" style="color:#111;"> <span class="fab fa-facebook"></span> </a> </li>
                        <li style="--i:2"> <a href="#" style="color:#111;"> <span class="fab fa-twitter"></span> </a> </li>
                        <li style="--i:3"> <a href="#" style="color:#111;"> <span class="fab fa-instagram"></span> </a> </li>
                    </ul>
                </div>
            </div>


            <div class="card p-0">
                <div class="card-image"> <img src="https://st2.depositphotos.com/2703645/5669/v/600/depositphotos_56695433-stock-illustration-female-avatar.jpg" alt=""> </div>
                <div class="card-content d-flex flex-column align-items-center">
                    <h4 class="pt-2" style="color:#FF4301;">VAISHNAVI</h4>
                    <h5 style="color:#111;">Backend Desinger</h5>
                    <ul class="social-icons d-flex justify-content-center">
                        <li style="--i:1"> <a href="#" style="color:#111;"> <span class="fab fa-facebook"></span> </a> </li>
                        <li style="--i:2"> <a href="#" style="color:#111;"> <span class="fab fa-twitter"></span> </a> </li>
                        <li style="--i:3"> <a href="#" style="color:#111;"> <span class="fab fa-instagram"></span> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
  </center>
    </div>
  <center>  <hr style="color:#FF4301;height:2px;width:50%;margin-top:75px;"></center>
  <center><div class="footer"><i class="fas fa-envelope 3x" style="color:#FF4301;font-size:25px;"></i>
  <h3 style="color:white; font-size: 25px">thechronicle@gmail.com</h3></div></center>

<%- include("partials/footer"); %>
